body{
  background-color: #e5e5e5;
}
.well.fixpanel{	
	margin-bottom:0;
}
.error{
	color: #a94442;
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.0);
  z-index: 13000;
  height: 100%;
}


/*preloader*/   
.spinner {
 position: relative;
 width: 50px;    
 height: 50px;
 top: 40%;
 margin: 100px auto;
 background-color: #126598;
 border-radius: 100%;
 -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
 animation: sk-scaleout 1.0s infinite ease-in-out;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  /*otro loader*/
  .loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }
  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }

  .table-vertical{
    width: 100%;
  }
  .textoVertical {  
    display: inline-block;
    overflow: hidden;
    width: 2em;  
  }
  .textoVertical-inputs {  
    display: inline-block;
    width: 100%;
  }
  .table-custom>tbody>tr>td{
    padding: 0px;
    vertical-align: middle;  
  }

  .textoVerticalColumna {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
  }

/* This element stretches the parent to be square
by using the mechanics of vertical margins  */
.textoVerticalColumna:after {
  content: "";
  display: block;
  margin: -1.5em 0 100%;
}

.textoVerticalImprimir {  
  display: inline-block;
  overflow: hidden;
  width: 2em;
}
.tituloTablaVertical {    
  text-align: center;    
  font-size: 0.9em;
  font-weight: normal;    
    /*border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;*/
    border-right: 1px solid #ddd;         
  }
  .textoVerticalColumnaImprimir {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
  }
  .textoVerticalColumnaImprimir:after {
    content: "";
    display: block;
    margin: -0.5em 0 100%;
  }
  .vinput{
    padding: 0px;
  }

  .form-group-fix{
    margin-right: 0px!important; 
    margin-left: 0px!important; 
    margin-bottom: 0px!important;
  }